.searchBarContainer {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50px;
    padding: 8px 16px;
    max-width: 600px;
    width: 100%;
    height: 45px;
    margin: 100px auto 20px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: #666;
    font-size: 16px;
}

.input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #333;
}

.input::placeholder {
    color: #999;
}

.toggleButtonGroup {
    margin-left: 10px;
    border-radius: 8px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background: white;
    color: black;
    margin-right: 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 32px;
}

@media (max-width: 768px) {
    .searchBarContainer {
        width: 100%;
    }
}
